---
layout: default
---

<div class="bird-right"></div>

<div class="container page">
  <div class="row">
    <div class="col-md-9">
      <h2>About the Festival</h2>
      Frost is Stanford University's annual music and arts festival. Frost has
      traditionally been held in Frost Amphitheater, but due to the pandemic is
      being held online this year. Despite this, we have an amazing
      <a href="/lineup">lineup</a> for you all, as well as an innovative online
      art gallery of student art. Attend an exciting performance from Phoebe
      Bridgers, Omar Apollo, Jamila Woods, Raveena, Samia, and student opener
      Linda Sol, and stick around for an after-party DJ set by Jai Wolf. We
      can't wait to see you there!
      <h2>FAQ</h2>

      <p>
        We're working on adding more information!<br />Feel free to email
        <a href="mailto:frostmusicfestival@gmail.com"
          >frostmusicfestival@gmail.com</a
        >
        with questions.
      </p>

      <div
        class="panel-group"
        id="accordion"
        role="tablist"
        aria-multiselectable="true"
      >
        <h3>Virtual FAQ (Frost 2021)</h3>

        {% include faq.html id="0-1" q="Who can attend?" a="Stanford
        affiliates." %} {% include faq.html id="0-2" q="Is the concert free?"
        a="Yes!" %} {% include faq.html id="0-3" q="How do I register?"
        a="https://www.eventbrite.com/e/2021-frost-music-arts-festival-tickets-149641157731"
        %} {% include faq.html id="0-4" q="How will I watch the show?" a="We’ll
        send the streaming link the day before the show to all valid registered
        ticket holders on the Eventbrite event." %} {% include faq.html id="0-5"
        q="What is Frost Art going to be like?" a="Frost Art will be a week long
        virtual event running from May 11th-16th hosted on Mozilla hubs.
        Featuring the best of Stanford student art, this year’s Frost Art is
        entirely virtual merging physical art with the digital realm. Update to
        come! Register here: https://tinyurl.com/frostart2021" %}

        <!-- <h3>Ticketing</h3>

                {% include faq.html id="1-3" q="Do I need to bring my Stanford ID?" a="<strong>Yes.</strong> If you are a Stanford student you must bring your Stanford ID. Your Stanford student ticket will be pre-loaded to your SUID. IDs not matching with the individual will be confiscated. Please have your ticket with you at all times. Any ticketing issues can be addressed at the Box Office." %}

                {% include faq.html id="1-4" q="Where can I purchase tickets?" a="Go to the ticket page above!" %}

                {% include faq.html id="5" q="Will re-entry be allowed?" a="<strong>No.</strong> You may leave the event at any time but re-entry will be prohibited." %}

                {% include faq.html id="8" q="Is there an age minimum?" a="<strong>No.</strong> All guests require a ticket for entry." %}

                {% include faq.html id="15" q="What are the set times?" a="Doors open at 5:00 PM and the show starts at 6:00 PM. Specific set times will not be released and are subject to change." %}

                {% include faq.html id="16" q="Can I get tickets to Frost at the amphitheater?" a="Yes." %}

                <h3>Policies</h3>

                {% include faq.html id="2-5" q="What can I bring into the amphitheater?" a="Attendees must abide by the clear bag policy. Guidelines can be found at http://www.gostanford.com/allclear. More information coming soon." %}

                {% include faq.html id="3" q="Will alcohol be allowed inside the amphitheater?" a="<strong>No.</strong> You may be required to open your beverage containers for review prior to entering the amphitheater.<br><br>Persons in possession of alcohol or who are visibly intoxicated will be denied entry, or are subject to removal from the venue, with no refund." %}

                {% include faq.html id="4" q="Will smoking be allowed?" a="<strong>No.</strong> No smoking of ANY kind (including e-cigarettes) will be tolerated inside or in the immediate vicinity outside of the amphitheater. Those who are found smoking inside the venue may be subject to removal with no refund." %}

                <h3>Transportation</h3>

                {% include faq.html id="6" q="Will parking be available?" a="<strong>Yes.</strong> Parking is most convenient in paid parking lots 9, 10 and Galvez. Galvez will be a prepaid lot and 9 and 10 (in the arboretum) will be cash only. We will update this page to display a map with these locations. We will publish information on parking prices closer to the event." %}

                {% include faq.html id="7" q="Will shared ride pick-up and drop-off be available?" a="Yes. More information coming soon." %}

                <h3>Accommodations</h3>

                {% include faq.html id="2" q="Will food and beverages be available?" a="<strong>Yes.</strong> More information coming soon." %}

                {% include faq.html id="9" q="Will ADA parking be available?" a="<strong>Yes.</strong> Individuals with a valid, state-issued disabled person parking placard or license plate will have access to parking on Roth way between Palm and Lasuen. We will update this page with a parking map displaying this location closer to the event. For questions, please call phone: 650-725-0326 or e-mail: disability.access@stanford.edu." %}

                {% include faq.html id="10" q="Will disability accommodations be available?" a= "<strong>Yes.</strong>" %}

                {% include faq.html id="11" q="Will first aid be available?" a="<strong>Yes.</strong> First Aid will be available inside and around the venue. IN CASE OF EMERGENCY: DIAL 911 AND Seek assistance from staff and security personnel in the venue." %}

                {% include faq.html id="12" q="Will a lost and found be available?" a="<strong>Yes.</strong> We will publish details closer to the event. After the concert, unclaimed items will be taken to: Stanford Department of Public Safety: 650-725-0326. Stanford University is not responsible for any lost or stolen items." %} -->
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-9">
      <h3>Sponsors</h3>
      <p>We would like to thank this year's sponsors:</p>

      <div class="row sponsors">
        <div class="col-xs-3">
          <h4>Stanford Arts</h4>
          <img class="img" src="/assets/img/logos/sa.jpg" />
        </div>
        <div class="col-xs-3">
          <h4>Vice Provost for Student Affairs</h4>
          <img class="img" src="/assets/img/logos/ssa.jpg" />
        </div>

        <div class="col-xs-3">
          <h4>Vice Provost for <br />Undergraduate Education</h4>
          <img class="img" src="/assets/img/logos/vpue.jpg" />
        </div>
        <div class="col-xs-3">
          <h4>Student Activities and Leadership</h4>
          <img class="img" src="/assets/img/logos/sal.jpg" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <h2>History</h2>

      <p>
        There have been seven Frost Music &amp; Art Festivals. Check out some of
        the art from previous years below.
      </p>

      <div class="row">
        <div class="col-sm-3">
          <img class="img" src="/assets/img/posters/glassanimals.jpg" />
        </div>
        <div class="col-sm-3">
          <img class="img" src="/assets/img/posters/flume.jpg" />
        </div>
        <div class="col-sm-3">
          <img class="img" src="/assets/img/posters/kali_jorja.jpeg" />
        </div>
        <div class="col-sm-3">
          <img class="img" src="/assets/img/posters/pheobe_bridgers.png" />
        </div>
      </div>
      <br />

      <p>
        Check out our <a href="http://scn.stanford.edu/gallery/">gallery</a> for
        more!
      </p>
    </div>
  </div>

  <br />

  <br /><br />
</div>
