/* FONTS */

/* @font-face { */
/*     font-family: 'good_times'; */
/*     src: url('/assets/fonts/good_times_rg-webfont.woff2') format('woff2'), */
/*          url('/assets/fonts/good_times_rg-webfont.woff') format('woff'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */

/* SITE WIDE */

html {
    position: relative;
}

body,
html {
    height: 100%;
}

body {
    font-family: -apple-system, "Helvetica Neue", helvetica, sans-serif;
    background: none;
}

h1,
h2,
h3 {
    font-family: "Helvetice Neue", Helvetica, sans-serif;
}

/* SPLASH */

.splash {
    height: 100%;
    text-align: center;
    background-color: rgb(185, 225, 225);
}

.title,
.headliner {
    text-shadow:
    -1px -1px 3px #fff,
    1px -1px 3px #fff,
    -1px 1px 3px #fff,
    1px 1px 3px #fff;
}

.title-bump {
    height: 3%;
}

.title {
    height: 37%;
    min-height: 220px;
}

.title h1 {
    color: black;
    display: inline-block;
}

.title h1 .top {
    font-size: 50px;
}

.title h1 .mid {
    line-height: 0.75em;
}

.title h1 .bot {
    font-size: 50px;
    float: right;
    padding-right: 10px;
}

.presents {
    text-align: center;
}

.date {
    height: 8%;
    text-align: center;
    margin-bottom: 5px;
}

.date h3 {
    margin: 5px 0;
}

.headliner {
    height: 35%;
    min-height: 275px;
    text-align: center;
}

.headliner a {
    color: black;
}

.headliner h3 {
    margin: 10px 0;
}

.headliner h1 {
    text-indent: -99999px;
    background: url(/assets/img/18/glassanimals.png) center center no-repeat;
    background-size: contain;
    margin: 0;
}

/* .headliner h2 { */
/*     text-indent: -99999px; */
/*     background: url(/assets/img/17/broods.jpg) center center no-repeat; */
/*     background-size: contain; */
/*     margin: 0; */
/* } */

.navbar {
    height: 100px;
    background-color: rgb(242, 154, 163);
    clear: both;
    margin: 0;
    padding: 0;
}

.navbar .navbar-nav {
    margin: 0;

    /* h center */
    text-align: center;
    float: none;
}

.navbar .container,
.navbar .navbar-nav,
.navbar .navbar-nav li {
    /* v center */
    height: 100%;
}

.navbar .navbar-nav li:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.navbar .navbar-nav li {
    /* h center */
    display: inline-block;
    float: none;
}

.navbar .navbar-nav li a {
    color: white;
    font-family: "Helvetice Neue", Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li.active a,
.navbar .navbar-nav li a:focus {
    background-color: initial;
    text-decoration: underline;
}

@media (max-width: 320px) {
    .splash {min-height: 450px;}

    .title h1 .mid {font-size: 70px;}
    .title h1 .top,
    .title h1 .bot {font-size: 14px;}

    .headliner h1 {height: 80px;}
    .headliner h2 {height: 25px;}

    .presents,
    .date h3,
    .headliner h3 {font-size: 13px;}

    .navbar {height: 50px;}

    .navbar .navbar-nav li {margin: 0 0;}
    .navbar .navbar-nav li a {font-size: 12px; padding: 0 1px;}

    .name h1 {font-size: 30px; margin-top: 40px;}

    .foliage-right {display: none;}
}


@media (min-width: 321px) {
    .splash {min-height: 500px;}

    .title h1 .mid {font-size: 85px;}
    .title h1 .top,
    .title h1 .bot {font-size: 20px;}

    .headliner h1 {height: 100px;}
    .headliner h2 {height: 30px;}

    .presents,
    .date h3,
    .headliner h3 {font-size: 15px;}

    .navbar {height: 60px;}

    .navbar .navbar-nav li {margin: 0 0;}
    .navbar .navbar-nav li a {font-size: 14px; padding: 0 2px;}

    .name h1 {font-size: 30px; margin-top: 40px;}

    .foliage-right {display: none;}
}

@media (min-width: 520px) and (min-height: 600px) {
    .splash {min-height: 700px;}

    .title h1 .mid {font-size: 120px;}
    .title h1 .top,
    .title h1 .bot {font-size: 20px;}

    .headliner h1 {height: 100px;}
    .headliner h2 {height: 35px;}

    .presents,
    .date h3,
    .headliner h3 {font-size: 15px;}

    .navbar {height: 70px;}

    .navbar .navbar-nav li {margin: 0 0;}
    .navbar .navbar-nav li a {font-size: 17px; padding: 0 5px;}

    .name h1 {font-size: 30px; margin-top: 40px;}

    .foliage-right {display: initial;}
}

@media (min-width: 768px) and (min-height: 675px) {
    .splash {min-height: 775px;}

    .title h1 .mid {font-size: 150px;}
    .title h1 .top,
    .title h1 .bot {font-size: 30px;}

    .headliner h1 {height: 120px;}
    .headliner h2 {height: 40px;}

    .presents,
    .date h3,
    .headliner h3 {font-size: 20px;}

    .navbar {height: 80px;}

    .navbar .navbar-nav li {margin: 0 0;}
    .navbar .navbar-nav li a {font-size: 25px;}

    .name h1 {font-size: 35px; margin-top: 35px;}

    .foliage-right {display: initial;}
}

@media (min-width: 992px) and (min-height: 750px) {
    .splash {min-height: 850px;}

    .title h1 .mid {font-size: 180px;}
    .title h1 .top,
    .title h1 .bot {font-size: 40px;}

    .headliner h1 {height: 130px;}
    .headliner h2 {height: 45px;}

    .presents,
    .date h3,
    .headliner h3 {font-size: 20px;}

    .navbar {height: 90px;}

    .navbar .navbar-nav li {margin: 0 20px;}
    .navbar .navbar-nav li a {font-size: 30px;}

    .name h1 {font-size: 45px; margin-top: 30px;}

    .foliage-right {display: initial;}
}

@media (min-width: 1200px) and (min-height: 850px) {
    .splash {min-height: 950px;}

    .title h1 .mid {font-size: 210px;}
    .title h1 .top,
    .title h1 .bot {font-size: 50px;}

    .headliner h1 {height: 150px;}
    .headliner h2 {height: 50px;}

    .presents,
    .date h3,
    .headliner h3 {font-size: 25px;}

    .navbar {height: 100px;}

    .navbar .navbar-nav li {margin: 0 30px;}
    .navbar .navbar-nav li a {font-size: 35px;}

    .name h1 {font-size: 50px; margin-top: 25px;}

    .foliage-right {display: initial;}
}

/* ALL NON-SPLASH */

.name {
    height: 200px;
    text-align: center;
    background-color: white;
}

.name h1 {
    height: 170px;
    margin-top: 15px;
    color: black;
    text-indent: -99999px;
    background: url(/assets/img/17/logo.jpg) center center no-repeat;
    background-size: contain;
}

.page {
    margin-top: 30px;
}

img.ticket {
    max-width: 100%;
}

/* DIRECTIONS */

img.map,
img.img {
    max-width: 100%;
}

/* ARTISTS */

.artist-social {
    text-align: center;
}

.artist-social a {
    font-size: 3em;
    color: rgb(83, 192, 195);
}

.artist-social a:hover {
    color: rgb(43, 152, 155);
}

/* INFO */

.sponsors {
    text-align: center;
    margin-bottom: 50px;
}

/* BRANCHES */

.foliage-left {
    position: fixed;
    height: 60%;
    width: 60%;
    bottom: 75px;
    left: 5px;
    background: url(/assets/img/18/man.png) top left no-repeat;
    background-size: contain;
}

.foliage-right {
    top: 300;
    right: 0;
    position: fixed;
    height: 95%;
    width: 25%;
    background: url(/assets/img/18/branch3.png) bottom right no-repeat;
    background-size: contain;
}
