@media (max-width: 320px) {
    .splash {min-height: 450px;}

    .title .mid {height: 40px;}
    .title .top,
    .title .bot {font-size: 14px;}

    .headliner h1 {height: 80px;}
    .headliner h2 {font-size: 14px;}

    .splash h3 {font-size: 13px;}

    .navbar {height: 50px;}

    .navbar .navbar-nav li {margin: 0 0;}
    .navbar .navbar-nav li a {font-size: 12px; padding: 0 1px;}

    .name h1 {font-size: 30px;}

    .foliage-right {display: none;}
}


@media (min-width: 321px) {
    .splash {min-height: 500px;}

    .title .mid {height: 50px;}
    .title .top,
    .title .bot {font-size: 20px;}

    .headliner h1 {height: 105px;}
    .headliner h2 {font-size: 18px;}

    .splash h3 {font-size: 15px;}

    .navbar {height: 60px;}

    .navbar .navbar-nav li {margin: 0 0;}
    .navbar .navbar-nav li a {font-size: 14px; padding: 0 2px;}

    .name h1 {font-size: 30px;}

    .foliage-right {display: none;}
}

@media (min-width: 520px) and (min-height: 600px) {
    .splash {min-height: 700px;}

    .title .mid {height: 55px;}
    .title .top,
    .title .bot {font-size: 25px;}

    .headliner h1 {height: 130px;}
    .headliner h2 {font-size: 22px;}

    .splash h3 {font-size: 15px;}

    .navbar {height: 70px;}

    .navbar .navbar-nav li {margin: 0 0;}
    .navbar .navbar-nav li a {font-size: 17px; padding: 0 5px;}

    .name h1 {font-size: 30px;}

    .foliage-right {display: initial;}
}

@media (min-width: 768px) and (min-height: 675px) {
    .splash {min-height: 775px;}

    .title .mid {height: 70px;}
    .title .top,
    .title .bot {font-size: 30px;}

    .headliner h1 {height: 160px;}
    .headliner h2 {font-size: 25px;}

    .splash h3 {font-size: 20px;}

    .navbar {height: 80px;}

    .navbar .navbar-nav li {margin: 0 0;}
    .navbar .navbar-nav li a {font-size: 25px;}

    .name h1 {font-size: 35px;}

    .foliage-right {display: initial;}
}

@media (min-width: 992px) and (min-height: 750px) {
    .splash {min-height: 850px;}

    .title .mid {height: 80px;}
    .title .top,
    .title .bot {font-size: 40px;}

    .headliner h1 {height: 160px;}
    .headliner h2 {font-size: 26px;}

    .splash h3 {font-size: 20px;}

    .navbar {height: 90px;}

    .navbar .navbar-nav li {margin: 0 20px;}
    .navbar .navbar-nav li a {font-size: 30px;}

    .name h1 {font-size: 45px;}

    .foliage-right {display: initial;}
}

@media (min-width: 1200px) and (min-height: 850px) {
    .splash {min-height: 950px;}

    .title .mid {height: 90px;}
    .title .top,
    .title .bot {font-size: 50px;}

    .headliner h1 {height: 180px;}
    .headliner h2 {font-size: 30px;}

    .splash h3 {font-size: 25px;}

    .navbar {height: 100px;}

    .navbar .navbar-nav li {margin: 0 30px;}
    .navbar .navbar-nav li a {font-size: 35px;}

    .name h1 {font-size: 50px;}

    .foliage-right {display: initial;}
}
